# Gradle
.gradle/
build/

# Configuración local
local.properties

# Android Studio / IntelliJ
.idea/
*.iml

# Kotlin
.kotlin/

# Logs
*.log

# Archivos compilados
*.class

# Comprimidos
*.zip
*.rar
*.tar.gz

# APKs
*.apk
*.aab

# Mac
.DS_Store

# Archivos generados
captures/
.externalNativeBuild/
.cxx/

# Seguridad
*.jks
*.keystore

# Crash logs
hs_err_pid*
replay_pid*